@model DtoLayer.RegisterDtos.CreateRegisterDto

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>RentASeat Kayıt Sayfası</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="MyraStudio" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/Admin/vertical/assets/images/favicon.ico">

    <!-- App css -->
    <link href="~/Admin/vertical/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Admin/vertical/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Admin/vertical/assets/css/theme.min.css" rel="stylesheet" type="text/css" />

    <!-- jQuery Validation -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <style>
        .requirements {
            list-style-type: none;
            padding: 0;
        }
        .requirements li {
            color: #D93025;
            text-decoration: none;
        }
        .requirements li.valid {
            color: #28a745;
            text-decoration: line-through;
        }
    </style>
</head>

<body>

    <div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex align-items-center min-vh-100">
                        <div class="w-100 d-block bg-white shadow-lg rounded my-5">
                            <div class="row">
                                <div class="col-lg-5 d-none d-lg-block bg-register rounded-left text-center">
                                    <!-- Left side content -->
                                </div>

                                <div class="col-lg-7">
                                    <div class="p-5">
                                        <div class="text-center mb-5">
                                            <a href="/Default/Index/" class="text-dark font-size-22 font-family-secondary">
                                                <b>RentASeat Yeni Kullanıcı Kayıt Sayfası</b>
                                            </a>
                                        </div>
                                        <h1 class="h5 mb-1">Bir hesap oluşturun!</h1>
                                        <p class="text-muted mb-4">Bir hesabınız yok mu, 1 dakika içinde hesabınızı oluşturun!</p>
                                        <form class="user" method="post">
                                            <div asp-validation-summary="All" class="text-danger"></div>

                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <input type="text" class="form-control form-control-user" placeholder="Adınız" asp-for="Name">
                                                    <span asp-validation-for="Name" class="text-danger"></span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control form-control-user" placeholder="Soyadınız" asp-for="Surname">
                                                    <span asp-validation-for="Surname" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <input type="email" class="form-control form-control-user" placeholder="Email Adresiniz" asp-for="Email">
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <input type="text" class="form-control form-control-user" placeholder="Kullanıcı Adınız" asp-for="Username">
                                                    <span asp-validation-for="Username" class="text-danger"></span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="password" class="form-control form-control-user" placeholder="Şifreniz" asp-for="Password" id="create_pw">
                                                    <span asp-validation-for="Password" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <ul class="requirements">
                                                <li id="length" class="invalid">En az 8 karakter</li>
                                                <li id="uppercase" class="invalid">En az 1 büyük harf</li>
                                                <li id="number" class="invalid">En az 1 sayı</li>
                                                <li id="special" class="invalid">En az 1 özel karakter</li>
                                            </ul>

                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-user" placeholder="Şifrenizi Tekrar Girin" asp-for="ConfirmPassword" id="confirm_pw" disabled>
                                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                            </div>

                                            <button type="submit" class="btn btn-success btn-block waves-effect waves-light" id="button" disabled>
                                                Hesabı Oluştur
                                            </button>
                                        </form>

                                        <div class="text-center mt-4">
                                            <h5 class="text-muted font-size-16">Sosyal Medya Hesaplarımız</h5>

                                            <ul class="list-inline mt-3 mb-0">
                                                <li class="list-inline-item">
                                                    <a href="javascript: void(0);" class="social-list-item border-primary text-primary"><i class="mdi mdi-facebook"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i class="mdi mdi-google"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="javascript: void(0);" class="social-list-item border-info text-info"><i class="mdi mdi-twitter"></i></a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i class="mdi mdi-github-circle"></i></a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="row mt-4">
                                            <div class="col-12 text-center">
                                                <p class="text-muted mb-0">
                                                    Bir hesabın var mı?
                                                    <a href="/Login/Index/" class="text-muted font-weight-medium ml-1"><b>Giriş Yap</b></a>
                                                </p>
                                            </div>
                                            <!-- end col -->
                                        </div>
                                        <!-- end row -->
                                    </div>
                                    <!-- end .padding-5 -->
                                </div>
                                <!-- end col -->
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- end .w-100 -->
                    </div>
                    <!-- end .d-flex -->
                </div>
                <!-- end col-->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end page -->

    <!-- jQuery -->
    <script src="~/Admin/vertical/assets/js/jquery.min.js"></script>
    <script src="~/Admin/vertical/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/Admin/vertical/assets/js/metismenu.min.js"></script>
    <script src="~/Admin/vertical/assets/js/waves.js"></script>
    <script src="~/Admin/vertical/assets/js/simplebar.min.js"></script>

    <!-- App js -->
    <script src="~/Admin/vertical/assets/js/theme.js"></script>

    <!-- SweetAlert Script -->
    @if (TempData.ContainsKey("SweetAlertMessage"))
    {
        <script>
            Swal.fire({
                icon: '@TempData["SweetAlertMessage"]',
                title: '@Html.Raw(TempData["SweetAlertTitle"])',
                text: '@Html.Raw(TempData["SweetAlertText"])',
                confirmButtonText: 'Tamam'
            });
        </script>
    }

    <script>
        const createPw = document.querySelector("#create_pw"),
            confirmPw = document.querySelector("#confirm_pw"),
            alertIcon = document.querySelector(".error"),
            alertText = document.querySelector(".text"),
            submitBtn = document.querySelector("#button");

        const lengthReq = document.getElementById("length"),
            uppercaseReq = document.getElementById("uppercase"),
            numberReq = document.getElementById("number"),
            specialReq = document.getElementById("special");

        createPw.addEventListener("input", () => {
            let val = createPw.value.trim();
            let lengthValid = val.length >= 8,
                uppercaseValid = /[A-Z]/.test(val),
                numberValid = /[0-9]/.test(val),
                specialValid = /[!@@#\$%\^\&*\)\(+=._-]+/.test(val);

            toggleValid(lengthReq, lengthValid);
            toggleValid(uppercaseReq, uppercaseValid);
            toggleValid(numberReq, numberValid);
            toggleValid(specialReq, specialValid);

            let allValid = lengthValid && uppercaseValid && numberValid && specialValid;
            confirmPw.disabled = !allValid;
        });

        confirmPw.addEventListener("input", () => {
            let match = confirmPw.value === createPw.value;
            submitBtn.disabled = !match;
        });

        function toggleValid(element, valid) {
            if (valid) {
                element.classList.add("valid");
                element.classList.remove("invalid");
            } else {
                element.classList.remove("valid");
                element.classList.add("invalid");
            }
        }
    </script>

</body>

</html>
