<div class="menu-overlay"></div>


<!-- jQuery  -->
<script src="~/Admin/vertical/assets/js/jquery.min.js"></script>
<script src="~/Admin/vertical/assets/js/bootstrap.bundle.min.js"></script>
<script src="~/Admin/vertical/assets/js/metismenu.min.js"></script>
<script src="~/Admin/vertical/assets/js/waves.js"></script>
<script src="~/Admin/vertical/assets/js/simplebar.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    function deleteBrandConfirm(brandID) {
        var result = confirm("Bu Markayı silmek istediğinize emin misiniz?");
        if (result) {
            fetch("/Admin/Brand/RemoveBrand/" + brandID, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                // body: JSON.stringify({ brandID: brandID }) // Bu satırı gerektirebilir
            }).then(response => {
                // İsteğin sonucunu kontrol et
                if (response.ok) {
                    // Başarılı ise, sayfayı yeniden yükle veya yönlendirme yapabilirsiniz
                    window.location.reload();
                } else {
                    // Başarısızsa hata mesajı göster
                    alert('Silme işlemi başarısız oldu.');
                }
            }).catch(error => {
                console.error('Silme işlemi sırasında hata oluştu:', error);
            });
        }
    }

</script>

<script>
    function deleteBannerConfirm(bannerID) {
        var result = confirm("Bu Bilgiyi silmek istediğinize emin misiniz?");
        if (result) {
            $.ajax({
                url: "/Admin/Banner/RemoveBanner/" + bannerID,
                type: 'DELETE',
                success: function () {
                    window.location.href = "/Admin/Banner/Index";
                },
                error: function (err) {
                    alert('Error: ' + err.responseText);
                }
            });
        }
    }

</script>
<script>
    function deleteAboutConfirm(aboutID) {
        var result = confirm("Hakkımda kısmını silmek istediğinize emin misiniz?");
        if (result) {
            $.ajax({
                url: "/Admin/About/RemoveAbout/" + aboutID,
                type: 'DELETE',
                success: function () {
                    window.location.href = "/Admin/About/Index";
                },
                error: function (err) {
                    alert('Error: ' + err.responseText);
                }
            });
        }
    }

</script>


<script>
    function deletePricingConfirm(pricingID) {
        var result = confirm("Bu ödeme türünü silmek istediğinize emin misiniz?");
        if (result) {
            $.ajax({
                url: "/Admin/Pricing/RemovePricing/" + pricingID,
                type: 'DELETE',
                success: function () {
                    window.location.href = "/Admin/Pricing/Index";
                },
                error: function (err) {
                    alert('Error: ' + err.responseText);
                }
            });
        }
    }
</script>
<script>
    function deleteFooterAddressConfirm(footerAddressID) {
        var result = confirm("Bu Footer adresi silmek istediğinize emin misiniz?");
        if (result) {
            $.ajax({
                url: "/Admin/FooterAddress/RemoveFooterAddress/" + footerAddressID,
                type: 'DELETE',
                success: function () {
                    window.location.href = "/Admin/FooterAddress/Index";
                },
                error: function (err) {
                    alert('Error: ' + err.responseText);
                }
            });
        }
    }
</script>
<script>
    function deleteLocationConfirm(LocationID) {
        var result = confirm("Bu Footer adresi silmek istediğinize emin misiniz?");
        if (result) {
            $.ajax({
                url: "/Admin/Location/RemoveLocation/" + LocationID,
                type: 'DELETE',
                success: function () {
                    window.location.href = "/Admin/Location/Index";
                },
                error: function (err) {
                    alert('Error: ' + err.responseText);
                }
            });
        }
    }
</script>
<script>
    function deleteServiceConfirm(serviceID) {
        var result = confirm("Bu hizmeti silmek istediğinize emin misiniz?");
        if (result) {
            $.ajax({
                url: "/Admin/Service/RemoveService/" + serviceID,
                type: 'DELETE',
                success: function () {
                    window.location.href = "/Admin/Service/Index";
                },
                error: function (err) {
                    alert('Error: ' + err.responseText);
                }
            });
        }
    }
</script>
<script>
    function deleteSocialMediaConfirm(socialMediaID) {
        var result = confirm("Bu sosyal medya hesabını silmek istediğinize emin misiniz?");
        if (result) {
            $.ajax({
                url: "/Admin/AdminSocialMedia/RemoveSocialMedia/" + socialMediaID,
                type: 'DELETE',
                success: function () {
                    window.location.href = "/Admin/SocialMedia/Index";
                },
                error: function (err) {
                    alert('Error: ' + err.responseText);
                }
            });
        }
    }
</script>
<script>
    function deleteTestimonialConfirm(testimonialID) {
        var result = confirm("Bu referansı silmek istediğinize emin misiniz?");
        if (result) {
            $.ajax({
                url: "/Admin/Testimonial/RemoveTestimonial/" + testimonialID,
                type: 'DELETE',
                success: function () {
                    window.location.href = "/Admin/Testimonial/Index";
                },
                error: function (err) {
                    alert('Error: ' + err.responseText);
                }
            });
        }
    }
</script>
<script>
    function deleteContactConfirm(contactID) {
        var result = confirm("Bu mesajı silmek istediğinize emin misiniz?");
        if (result) {
            $.ajax({
                url: "/Admin/Contact/RemoveContact/" + contactID,
                type: 'DELETE',
                success: function () {
                    window.location.href = "/Admin/Contact/Index";
                },
                error: function (err) {
                    alert('Error: ' + err.responseText);
                }
            });
        }
    }
    </script>
<script>
    function deleteFeatureConfirm(featureID) {
        var result = confirm("Bu mesajı silmek istediğinize emin misiniz?");
        if (result) {
            $.ajax({
                url: "/Admin/Feature/RemoveFeature/" + featureID,
                type: 'DELETE',
                success: function () {
                    window.location.href = "/Admin/Feature/Index";
                },
                error: function (err) {
                    alert('Error: ' + err.responseText);
                }
            });
        }
    }
</script>

   



<!-- App js -->
<script src="~/Admin/vertical/assets/js/theme.js"></script>
