<div class="menu-overlay"></div>


<!-- jQuery  -->
<script src="~/Admin/vertical/assets/js/jquery.min.js"></script>
<script src="~/Admin/vertical/assets/js/bootstrap.bundle.min.js"></script>
<script src="~/Admin/vertical/assets/js/metismenu.min.js"></script>
<script src="~/Admin/vertical/assets/js/waves.js"></script>
<script src="~/Admin/vertical/assets/js/simplebar.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- SweetAlert CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

<!-- SweetAlert JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/chart.js"></script>
<script src="~/Admin/vertical/assets/pages/chartjs-demo.js"></script>

<script>
    function deleteBrandConfirm(brandID) {
        Swal.fire({
            title: 'Bu Markayı silmek istediğinize emin misiniz?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet, sil!',
            cancelButtonText: 'Hayır, iptal et!'
        }).then((result) => {
            if (result.isConfirmed) {
                fetch("/Admin/Brand/RemoveBrand/" + brandID, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(response => {
                    if (response.ok) {
                        Swal.fire('Silindi!', 'Marka başarıyla silindi.', 'success').then(() => {
                            window.location.reload();
                        });
                    } else {
                        Swal.fire('Hata!', 'Silme işlemi başarısız oldu.', 'error');
                    }
                }).catch(error => {
                    Swal.fire('Hata!', 'Silme işlemi sırasında hata oluştu.', 'error');
                });
            }
        });
    }

    function deleteBannerConfirm(bannerID) {
        Swal.fire({
            title: 'Bu Bilgiyi silmek istediğinize emin misiniz?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet, sil!',
            cancelButtonText: 'Hayır, iptal et!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/Admin/Banner/RemoveBanner/" + bannerID,
                    type: 'DELETE',
                    success: function () {
                        Swal.fire('Silindi!', 'Bilgi başarıyla silindi.', 'success').then(() => {
                            window.location.href = "/Admin/Banner/Index";
                        });
                    },
                    error: function (err) {
                        Swal.fire('Hata!', 'Silme işlemi başarısız oldu.', 'error');
                    }
                });
            }
        });
    }

    function deleteAboutConfirm(aboutID) {
        Swal.fire({
            title: 'Hakkımda kısmını silmek istediğinize emin misiniz?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet, sil!',
            cancelButtonText: 'Hayır, iptal et!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/Admin/About/RemoveAbout/" + aboutID,
                    type: 'DELETE',
                    success: function () {
                        Swal.fire('Silindi!', 'Hakkımda kısmı başarıyla silindi.', 'success').then(() => {
                            window.location.href = "/Admin/About/Index";
                        });
                    },
                    error: function (err) {
                        Swal.fire('Hata!', 'Silme işlemi başarısız oldu.', 'error');
                    }
                });
            }
        });
    }

    function deletePricingConfirm(pricingID) {
        Swal.fire({
            title: 'Bu ödeme türünü silmek istediğinize emin misiniz?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet, sil!',
            cancelButtonText: 'Hayır, iptal et!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/Admin/Pricing/RemovePricing/" + pricingID,
                    type: 'DELETE',
                    success: function () {
                        Swal.fire('Silindi!', 'Ödeme türü başarıyla silindi.', 'success').then(() => {
                            window.location.href = "/Admin/Pricing/Index";
                        });
                    },
                    error: function (err) {
                        Swal.fire('Hata!', 'Silme işlemi başarısız oldu.', 'error');
                    }
                });
            }
        });
    }

    function deleteFooterAddressConfirm(footerAddressID) {
        Swal.fire({
            title: 'Bu Footer adresi silmek istediğinize emin misiniz?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet, sil!',
            cancelButtonText: 'Hayır, iptal et!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/Admin/FooterAddress/RemoveFooterAddress/" + footerAddressID,
                    type: 'DELETE',
                    success: function () {
                        Swal.fire('Silindi!', 'Footer adresi başarıyla silindi.', 'success').then(() => {
                            window.location.href = "/Admin/FooterAddress/Index";
                        });
                    },
                    error: function (err) {
                        Swal.fire('Hata!', 'Silme işlemi başarısız oldu.', 'error');
                    }
                });
            }
        });
    }

    function deleteLocationConfirm(LocationID) {
        Swal.fire({
            title: 'Bu Footer adresi silmek istediğinize emin misiniz?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet, sil!',
            cancelButtonText: 'Hayır, iptal et!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/Admin/Location/RemoveLocation/" + LocationID,
                    type: 'DELETE',
                    success: function () {
                        Swal.fire('Silindi!', 'Footer adresi başarıyla silindi.', 'success').then(() => {
                            window.location.href = "/Admin/Location/Index";
                        });
                    },
                    error: function (err) {
                        Swal.fire('Hata!', 'Silme işlemi başarısız oldu.', 'error');
                    }
                });
            }
        });
    }

    function deleteServiceConfirm(serviceID) {
        Swal.fire({
            title: 'Bu hizmeti silmek istediğinize emin misiniz?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet, sil!',
            cancelButtonText: 'Hayır, iptal et!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/Admin/Service/RemoveService/" + serviceID,
                    type: 'DELETE',
                    success: function () {
                        Swal.fire('Silindi!', 'Hizmet başarıyla silindi.', 'success').then(() => {
                            window.location.href = "/Admin/Service/Index";
                        });
                    },
                    error: function (err) {
                        Swal.fire('Hata!', 'Silme işlemi başarısız oldu.', 'error');
                    }
                });
            }
        });
    }

    function deleteSocialMediaConfirm(socialMediaID) {
        Swal.fire({
            title: 'Bu sosyal medya hesabını silmek istediğinize emin misiniz?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet, sil!',
            cancelButtonText: 'Hayır, iptal et!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/Admin/SocialMedia/RemoveSocialMedia/" + socialMediaID,
                    type: 'DELETE',
                    success: function () {
                        Swal.fire('Silindi!', 'Sosyal medya hesabı başarıyla silindi.', 'success').then(() => {
                            window.location.href = "/Admin/SocialMedia/Index";
                        });
                    },
                    error: function (err) {
                        Swal.fire('Hata!', 'Silme işlemi başarısız oldu.', 'error');
                    }
                });
            }
        });
    }

    function deleteTestimonialConfirm(testimonialID) {
        Swal.fire({
            title: 'Bu referansı silmek istediğinize emin misiniz?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet, sil!',
            cancelButtonText: 'Hayır, iptal et!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/Admin/Testimonial/RemoveTestimonial/" + testimonialID,
                    type: 'DELETE',
                    success: function () {
                        Swal.fire('Silindi!', 'Referans başarıyla silindi.', 'success').then(() => {
                            window.location.href = "/Admin/Testimonial/Index";
                        });
                    },
                    error: function (err) {
                        Swal.fire('Hata!', 'Silme işlemi başarısız oldu.', 'error');
                    }
                });
            }
        });
    }

    function deleteContactConfirm(contactID) {
        Swal.fire({
            title: 'Bu mesajı silmek istediğinize emin misiniz?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet, sil!',
            cancelButtonText: 'Hayır, iptal et!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/Admin/Contact/RemoveContact/" + contactID,
                    type: 'DELETE',
                    success: function () {
                        Swal.fire('Silindi!', 'Mesaj başarıyla silindi.', 'success').then(() => {
                            window.location.href = "/Admin/Contact/Index";
                        });
                    },
                    error: function (err) {
                        Swal.fire('Hata!', 'Silme işlemi başarısız oldu.', 'error');
                    }
                });
            }
        });
    }

    function deleteFeatureConfirm(featureID) {
        Swal.fire({
            title: 'Bu özelliği silmek istediğinize emin misiniz?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet, sil!',
            cancelButtonText: 'Hayır, iptal et!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/Admin/Feature/RemoveFeature/" + featureID,
                    type: 'DELETE',
                    success: function () {
                        Swal.fire('Silindi!', 'Özellik başarıyla silindi.', 'success').then(() => {
                            window.location.href = "/Admin/Feature/Index";
                        });
                    },
                    error: function (err) {
                        Swal.fire('Hata!', 'Silme işlemi başarısız oldu.', 'error');
                    }
                });
            }
        });
    }

    function deleteCarConfirm(carID) {
        Swal.fire({
            title: 'Bu Arabayı silmek istediğinize emin misiniz?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Evet, sil!',
            cancelButtonText: 'Hayır, iptal et!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/Admin/Car/RemoveCar/" + carID,
                    type: 'DELETE',
                    success: function () {
                        Swal.fire('Silindi!', 'Araba başarıyla silindi.', 'success').then(() => {
                            window.location.href = "/Admin/Car/Index";
                        });
                    },
                    error: function (err) {
                        Swal.fire('Hata!', 'Silme işlemi başarısız oldu.', 'error');
                    }
                });
            }
        });
    }
</script>



   



<!-- App js -->
<script src="~/Admin/vertical/assets/js/theme.js"></script>
