@model List<ResultFeatureDto>

@{
    ViewData["Title"] = "Create Feature By CarId";
    Layout = "~/Areas/Admin/Views/Layout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Araca Ait Özellikler Ekleme Sayfası</h4>
                        <p class="card-subtitle mb-4">
                            Araca ait özellik tanımlaması yapılacak sayfadır.
                        </p>
                        <form method="post" asp-controller="CarFeatureDetail" asp-action="CreateFeatureByCarId" asp-area="Admin" asp-route-id="@ViewBag.CarId">
                            <div class="row">
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    <div class="col-md-4">
                                        <div class="form-check">
                                            <input type="hidden" name="createCarFeatureDtos[@i].FeatureID" value="@Model[i].FeatureID" />
                                            <input type="checkbox" class="form-check-input" name="createCarFeatureDtos[@i].Available" value="true" />
                                            <label class="form-check-label">@Model[i].Name</label>
                                        </div>
                                    </div>
                                }
                            </div>
                            <br />
                            <button class="btn btn-primary">Araca Özellikleri Ata</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
