<section class="ftco-section ftco-intro" style="background-image: url(/carbook-master/images/bg_3.jpg);">
	<div class="overlay"></div>
	<div class="container">
		<div class="row justify-content-end">
			<div class="col-md-6 heading-section heading-section-white ftco-animate">
				<h2 class="mb-3">Acelenez mi var? Araç sürmeye vaktiniz mi yok?</h2>
				<a href="/RentADriver/Index/" class="btn btn-primary btn-lg">Bir Sürücü Kirayalın</a>
			</div>
		</div>
	</div>
</section>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- SweetAlert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    $(document).ready(function () {
        $('a[href="/RentADriver/Index/"]').click(function (e) {
            e.preventDefault();

            Swal.fire({
                title: 'Yakında Hizmetinizde!',
                text: 'Sürücü kiralama hizmetimiz çok yakında başlıyor. Daha fazla bilgi için takipte kalın!',
                icon: 'info',
                showCancelButton: false,
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Tamam'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/Default/Index';
                }
            });
        });
    });
</script>
