@{
    Layout = null;
    ViewData["Title"] = "Şifre Sıfırlama Bağlantısı Gönderildi";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Toastify CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="/carbook-master/css/password-confirm.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <section class="mail-seccess section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-12">
                    <!-- Success Inner -->
                    <div class="success-inner">
                        <h1><i class="fa fa-envelope"></i><span>Mail Başarı ile Gönderildi!</span></h1>
                        <p>Şifre sıfırlama bağlantısı e-posta adresinize gönderilmiştir. Lütfen e-postanızı kontrol edin ve talimatları takip edin.</p>
                        <a href="/Default/Index" class="btn btn-primary btn-lg">Ana Sayfaya Git</a>
                    </div>
                    <!--/ End Success Inner -->
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery ve Toastify JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <!-- JavaScript kodu -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            Toastify({
                text: 'Şifre sıfırlama bağlantısı e-posta adresinize gönderilmiştir. Lütfen e-postanızı kontrol edin ve talimatları takip edin.',
                duration: 5000,  // 5 seconds
                close: true,
                gravity: 'top',  // 'top' or 'bottom'
                position: 'right',  // 'left', 'center', or 'right'
                backgroundColor: 'linear-gradient(to right, #00b09b, #96c93d)',
                stopOnFocus: true  // Prevents dismissing the toast on hover/focus
            }).showToast();
        });
    </script>
</body>
</html>
